// **************************************
// EXTENDS
// **************************************
  %btn {
    padding: .5em;
  }

  %btn-properties{
    text-transform: uppercase;
    color: #fff;
  }

  %img {
    display: block;
    margin: 0 auto;
  }
