// **************************************
// EXTENDS
// **************************************
  %padding {
    padding: .5em;
    border-radius: 5px;
  }

  %btn{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1em;
  }

  %centered {
    display: block;
    margin: 0 auto;
  }

  %btn_width{
    width: 15%;
  }
