// **************************************
// EXTENDS
// **************************************
/* Provived Padding and curved borders for     buttons/grid items*/
%padding {
    padding: .5em;
    border-radius: 5px;
  }

//Button Items only
  %btn{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1em;
    font-size: 1.3em;
  }

//Links
  %link-love{
    text-decoration: none;
  }

// Nav Items
  %nav-properties{
    list-style-type: none;
    text-align: center;
    border-radius: 3px;
    padding: .5em;
    font-size: .9em;
  }

//blockquote styles
%bq{
  padding-left: .8em;
  line-height: 1.3em;
  font-size: 1.45em;
  font-style: italic;
  font-weight: 700;
  color: $font-color-secondary;
}

// Center Images
  %centered {
    display: block;
    margin: 0 auto;
  }
