// **************************************
// MIXINS
// **************************************

//centering text on page
 @mixin centered {
   text-align: center;
 }

 //Create a flex container
 @mixin flex_me(
   $dir: null,
   $wrap: null,
   $just: null)
   {
     display: flex;
     flex-direction: $dir;
     flex-wrap: $wrap;
     justify-content: $just;
   }

// Media Query
@mixin mq($break){
  @if $break == 'md'{
    @media (min-width: $break-md){
      @content;
    }
  }
  @else if $break == 'lg' {
    @media (min-width: $break-lg){
      @content;
    }
  }
}
