// **************************************
//BUTTONS
// **************************************

.btn--default{
  @extend %btn;
  @extend %padding;
  background-color: $color-link-button-default;
}
.btn--success{
  @extend %btn;
  @extend %padding;
  background-color: $button-success;
}
.btn--error{
  @extend %btn;
  @extend %padding;
  background-color: $button-error;

}
.btn--warning{
  @extend %btn;
  @extend %padding;
  background-color: $button-warning;
}
.btn--info{
  @extend %btn;
  @extend %padding;
  background-color: $button-info;
}

.theme__colors{
  padding-left: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}
