// **************************************
//BUTTONS
// **************************************
 
.btn--default{
  @extend %btn;
  background-color: $color-link-button-default;
}
.btn--success{
  @extend %btn;
  background-color: $button-success;
}
.btn--error{
  @extend %btn;
  background-color: $button-error;

}
.btn--warning{
  @extend %btn;
  background-color: $button-warning;
}
.btn--info{
  @extend %btn;
  background-color: $button-info;
}

.theme__colors{
  @extend %padding;
}
