// **************************************
//FORMS
// **************************************

.form{
  @include flex_me(column);
}
.form__label--hidden{
  margin-bottom: 1.5em;
  border-bottom: 4px solid $main-site-color;
}

.form__input{
  display: none;
}
