// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

.container{
  max-width: px-to-ems(1200px);
  margin: 0 auto;
  padding: 1em;
}

.grid__col--12{
 @include flex_me(column);
 @include mq('md'){
     @include flex_me($dir:row, $just:space-around);
 }
}

.centered{
@include mq('md'){
  margin: 0 auto;
 }
}

.card{
  margin-bottom: 3em;
}

// grid base layout styles
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flex_me(column);

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('md'){
      flex-direction: row;
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq('md'){

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"};
        }
      }
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('md'){

      // add grid gutter
      margin-left: 35px;
    }
  }
}

//Grid Theme Styles
  .grid__col--3.theme__colors{
    background-color: $bg-grid-col-3;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--4.theme__colors{
    background-color: $bg-grid-col-4;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--5.theme__colors{
    background-color: $bg-grid-col-5;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--6.theme__colors{
    background-color: $bg-grid-col-6;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--7.theme__colors{
    background-color: $bg-grid-col-7;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--8.theme__colors{
    background-color: $bg-grid-col-8;
    @include mq('md'){
      @include centered;
    }
  }

  .grid__col--12.theme__colors{
    background-color: $bg-grid-col-12;
    @include mq('md'){
      @include centered;
    }
  }
