// **************************************
//IMAGES
// **************************************

img:hover{
  transform: scale(1.05);
  transition: transform .1s;
}

.img--logo{
  @extend %centered;
  padding-bottom: 2.5em;
}

.img--frame{
  @extend %centered;
  max-width: px-to-ems(323px);
  border: 7px solid #fff;
  outline: .8px solid #000;
  margin-bottom: 2.5em;
  @include mq('md'){
    max-width: px-to-ems(410px);
  }
}

.img--avatar{
  @extend %centered;
  padding-bottom: 1em;
}
