// **************************************
//IMAGES
// **************************************

.img--logo{
  @extend %centered;
  padding-bottom: 2.5em;
}

.img--frame{
  @extend %centered;
  border: 7px solid #fff;
  margin-bottom: 2.5em;

}

.img--avatar{
  @extend %centered;
  padding-bottom: 1em;
}
