// **************************************
//NAVIGATION
// **************************************

.nav{
  @include flex_me($dir:column, $just:center);
  @include mq('md'){
    @include flex_me($dir:row,
                     $just: flex-end);
  }
  .nav__item {
    @extend %nav-properties;
    @include mq('md'){
      margin: 1.5em 2em 0 0;
    }
    .nav__item:hover{
      background-color: $main-site-color;
    }
    &a:hover{
      color: #fff;
    }
  }
}
