// **************************************
//NAVIGATION
// **************************************

.nav{
  @include flex_me(column);
  justify-content: center;
  margin-bottom: 5em;
  @media (min-width: $break-md){
    @include flex_me($dir:row,
                     $just: flex-end);
  }
}

.nav__item {
  list-style-type: none;
  text-align: center;
  border-radius: 3px;
  padding: .5em;
  margin: 1.5em 2em 0 0;

}

.nav__item:hover{
  background-color: $main-site-color;
}

.nav__item a{
  text-decoration: none;
  color: #000;
}

.nav__item a:hover{
  color: #fff;
}
