
// **************************************
//TYPOGRAPHY
// **************************************

.container {
  font-family: $font-primary;
  line-height: 1.5em;
  font-size: 1em;
}

.link{
  text-decoration: none;
  color: $color-link-button-default;
  font-size: 1.1em;
}

.blockquote{
  border-left: 4px solid $main-site-color;
  padding-left: 1em;
  font-size: 1.4em;
  font-style: italic;
}

.headline--primary{
  margin-bottom: 1em;
  color: $main-site-color;
  line-height: 1.1em;
}

.headline--secondary{
  margin: 4em 0;
  color: $font-color;
}
