/*------GLOBAL RESET/BASE STYLES--------*/


* {
  box-sizing: border-box;
}

ul{
  margin-bottom: 5em;
  margin: 0 0;
}

p,
a{
  color: $font-color;
  font-size: 1.6em;
  line-height: 1.5em;
}

a[href]{
  @extend %link-love;
}
